/*
********** Defult Page Style **********
*/

body {
  margin: 0 auto;
  max-width: 97%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  width: 80%;
  margin: auto;
}

.box-1,
.box-2,
.box-3,
.box-4,
.box-5 {
  border: 2px solid darkgrey;
  margin-top: 55px;
  -webkit-box-shadow: 6px 5px 15px 1px rgba(0, 0, 0, 0.53);
  box-shadow: 6px 5px 15px 1px rgba(0, 0, 0, 0.53);
}

.box-1 img,
.box-2 img,
.box-3 img,
.box-4 img,
.box-5 img {
  width: 100%;
}

button {
  background-color: darkgrey;
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
  width: 100%;
  height: 60px;
  text-align: center;
  cursor: grab;
  margin-bottom: 30px;
}

h2 {
  font-size: 2.3rem;
}

p {
  font-size: 1.8rem;
}

/*
********** First Column Style **********
*/

.first-col {
  display: flex;
  width: 90%;
  margin: auto;
}

.box-1 {
  width: 60%;
}

.box-2 {
  width: 30%;
  margin-left: 55px;
}

/*
********** Second Column Style **********
*/

.second-col {
  display: flex;
  margin: auto;
  width: 90%;
}

.box-3 {
  width: 28%;
}

.box-4 {
  width: 28%;
  margin-left: 55px;
}

.box-5 {
  width: 30%;
  margin-left: 55px;
}
